%h2 All Boards

- @boards.each do |board|
  .card
    .card_content
      .card_name
        = board.name
      .card_description
        = board.description
    .card_edit.dropdown
      = image_tag 'Edit.png'
      .card_edit_wrapper.dropdown_content
        %p=link_to "Edit" , edit_path
        %p= "Delete"
    .card_user
      = image_tag 'Users.png'

.new_board
  %p= "+ Add new borad"

